// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
@import './main';
$body-font-family: 'verala';
$heading-font-family: 'lemon';

@import '~vuetify/src/styles/styles.sass';

